{% csrf_token %}
{% for error in form.non_field_errors %}
    <p class="form-error">{{ error }}</p>
{% endfor %}
{% for field in form %}
    <div class="d-flex justify-content-between">
        <label class="me-3" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {% if field.errors %}
            <p class="field-error">{{ field }}</p>
            {% for error in field.errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        {% else %}
            <p>{{ field }}</p>
        {% endif %}
    </div>
{% endfor %}
<hr>
<div class="form-buttons d-flex justify-content-end">
    <button class="btn form-btn me-3" type="submit">{{ button_text }}</button>
    <a class="btn form-btn" href="{{request.META.HTTP_REFERER}}">Back</a>
</div>