body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.logo {
    font-size: 24px;
}
.header {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.content {
    width: 1000px;
    margin: 0 auto;
}