body {
    font-family: Arial, sans-serif;
    margin: 0;
}
a {
    color: #42526e;
    text-decoration: none;
}
a:hover {
    color: #5a5e70;
}
ul {
    list-style: none;
}
ul li {
    padding: 5px;
}
ul li:hover, .entry:hover {
    background-color: #f3f3f3;
}
li a.btn-filters {
    display: block;
}
.btn-logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin: -5px 0;
    background: url("img/logo.svg") no-repeat 20px center;
    background-size: 30px 30px;
    text-indent: 36px;
}
.btn-logo:hover {
    background-color: #3596ff;
    color: #fff;
    text-decoration: none;
}
.btn-nav {
    background-color: #3596ff;
}
.btn-nav:hover {
    background-color: #72b3ff;
}
.header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters-list {
    padding: 0;
}
.content {
    width: 1200px;
    margin: 0 auto;
}
.entry-title:hover {
    text-decoration: underline;
}
.btn-action {
    font-size: 24px;
    color: #9f9f9f;
}
.btn-collapse:focus {
    box-shadow: none;
}
.btn-collapse:hover {
    background-color: #f3f3f3;
}
.collapsed>svg {
    transform: rotate(-90deg);
}
.form-wrapper {
    width: 42%;
}
li label {
    display: block;
}
label {
    font-size: 16px;
    align-self: start;
}
input[type=text] {
    width: 316px;
}
select {
    height: 30px;
    width: 320px;
}
ul[id=id_types] {
    width: 60%;
}
textarea {
    width: 320px;
    height: 80px;
    margin-bottom: -7px;
}
.form-btn {
    background-color: #e3e3e3;
}
.form-btn:hover {
    background-color: #f3f3f3;
}
.form-error {
    color: #ff3535;
    margin: -10px 0 10px 190px;
    font-size: 14px;
}
.field-error {
    border: solid 1px #ff3535;
    box-shadow: #ff3535 0 0 3px;
}