{% extends 'base.html' %}
{% block title %} Projects list{% endblock %}
{% block content %}
    <div class="col-lg-2 col-xl-2 col-md-2 ps-4">
        <div class="filters-heading">
            <strong>Filters</strong>
        </div>
        <ul class="filters-list">
            <li>
                <a class="btn-filters" href="{% url 'index' %}">All projects</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-xl-10 col-md-10 ps-4 border-start border-2">
        <div class="entries-nav">
                <h2>Projects</h2>
            <hr>
        </div>
        {% if project_list %}
            <div class="entries-count d-flex justify-content-between mb-3">
                <div>
                    <span>Projects {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>
                    <div class="mt-3">
                        <a class="btn btn-primary me-2" href="{% url 'create_project' %}">Create project</a>
                    </div>
                </div>
                {% if is_paginated %}
                    {% include "partial/pagination.html" %}
                {% endif %}
            </div>
            <table class="table px-4">
                <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Decription</th>
                </tr>
                </thead>
                <tbody>
                {% for project in project_list %}
                    <tr class="entry">
                        <td>
                            <a class="entry-title" href="{% url 'project' project.pk %}">[PR-{{ project.pk }}]</a>
                        </td>
                        <td>
                            <a class="entry-title" href="{% url 'project' project.pk %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.date_started }}</td>
                        <td>{{ project.description|truncatewords:10 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="mb-3">
                <span>No existing projects yet.</span>
                <div class="mt-3"><a class="btn form-btn" href="{{request.META.HTTP_REFERER}}">Back</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}